<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.tum.cs.cadmos.analysis.ui.views.architecture.ArchitectureViewPart"
            icon="icons/architecture_browser.gif"
            id="edu.tum.cs.cadmos.analysis.ui.views.architecture.ArchitectureViewPart"
            name="Architecture Browser">
      </view>
      <view
            class="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisView"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisView"
            name="Schedule Analysis">
      </view>
      <view
            allowMultiple="true"
            class="edu.tum.cs.cadmos.analysis.ui.perspective.ConstraintView"
            icon="icons/constraints.gif"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.ConstraintView"
            name="Constraints">
      </view>
      <view
            class="edu.tum.cs.cadmos.analysis.ui.perspective.DebugIOView"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.DebugIO"
            name="Debug and Z3 IO Console">
      </view>
      <view
            class="edu.tum.cs.cadmos.analysis.ui.perspective.ScheduleChart"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.ScheduleChart"
            name="Schedule Chart">
      </view>
      <view
            allowMultiple="false"
            class="edu.tum.cs.cadmos.analysis.ui.perspective.ComplementConstraintView"
            icon="icons/constraints.gif"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.ComplementConstraintView"
            name="Complement Constraints">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisPerspective"
            icon="icons/perspective3.gif"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysis"
            name="Scheduling Analysis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisMainEditor"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisMainEditor"
            name="New EditorPart">
      </editor>
      <editor
            class="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisEditorContainer"
            id="edu.tum.cs.cadmos.analysis.ui.perspective.SchedulingAnalysisEditorContainer"
            name="SchedulingAnalysisEditorContainer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.tum.cs.cadmos.analysis.ui.schedule.ScheduleDeploymentHandler"
            commandId="edu.tum.cs.cadmos.analysis.ui.SoftwareDeploymentHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
               commandId="edu.tum.cs.cadmos.analysis.ui.SoftwareDeploymentHandler"
               label="Schedule Deployment"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="edu.tum.cs.cadmos.analysis.ui.SoftwareDeploymentHandler"
            name="Schedule Deployment">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false "
               id="edu.tum.cs.cadmos.analysis.ui.ScheduleDeploymentHandlerState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.tum.cs.cadmos.language.Cadmos"
            class="edu.tum.cs.cadmos.analysis.ui.preferences.Z3PreferencePage"
            id="edu.tum.cs.cadmos.analysis.ui.preferences.z3preferencepage"
            name="Z3">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.tum.cs.cadmos.analysis.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
